---
title: "Flown – well-drawn svg world flags with a small file size"
---

extends /_/layouts/default

block body
  article.intro.mb3
    include:md /_/intro.md

  .quicklook.mb1
    dl.gr6.md-gr4.sm-gr2.gap
      dt.bt.pb2.nano Flags
      dd.bt.pb1= flags.length

      dt.bt.pb2.nano Colours
      dd.bt.pb1= palette.length

      dt.bt.pb2.nano Aspect Ratio
      dd.bt.pb1 
        | 5
        span.mt :
        | 3

      - const source = flags.reduce((m, f) => m + f.size.source, 0)
      - const output = flags.reduce((m, f) => m + f.size.output, 0)
      dt.bt.pb2.nano Compression
      dd.bt.pb1
        = (100 * (1 - output / source)).toFixed(1)
        span.mt %

      dt.bt.pb2.nano Average Size
      dd.bt.pb1
        = (output / flags.length / 1024).toFixed(1)
        span.mt kB

  .colors.fx.pb3.gap.bt
    h2.mbe1.nano Colour Palette

    ul.gr8.md-gr4.fxg.gap
      each color in palette
        li
          +color(color)
  
  .tags.fx.pb3.gap.bt
    h2.mbe1.nano Tags

    nav.fx.fxw.gap
      each tag in tagList
        a(href=`/tags/${tag.slug}`)
          = tag.title

  .jumpto.fx.pb3.gap.bt
    h2.mbe1.nano Regions
    nav.fx.fxw.gap
      each region in regions
        a(href=`#${region.slug}`)
          = region.name

  .flags
    each region in regions
      .pb3(id=region.slug)
        h2.mbe3
          = region.name

        ul.gr6.md-gr4.sm-gr2.gap
          each flag in region.list
            +flag-list-item(flag)

block append head
  style
    include:sass /assets/sass/_home.sass
